.visit-search {
  position: sticky;
  position: -webkit-sticky;
  top:20px;
}

.visit-search-item {
  padding: 10px;
}
.visit-search-item input {
}

.visit-search-item button {
}

.show-all-button {
}

.search-icon {
  color: #3494a0;
}
