<mat-expansion-panel class="visit-item">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{patient.name}}
      {{patient.lastName}}
      {{visit.localDate}}
    </mat-panel-title>
    <mat-panel-description>
      PESEL: {{patient.pesel}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="d-flex flex-md-row flex-column">
    <mat-card class="visit-info-item flex-grow-1">
      <mat-card-title>
        Interview
      </mat-card-title>
      <div>
        {{visit.interviewExamination}}
      </div>
    </mat-card>
    <mat-card class="visit-info-item flex-grow-1">
      <mat-card-title>
        Physical examination
      </mat-card-title>
      <div>
        {{visit.physicalExamination}}
      </div>
    </mat-card>
  </div>
  <div class="d-flex flex-md-row flex-column">
    <mat-card class="visit-info-item flex-grow-1">
      <mat-card-title>
        Diagnosis
      </mat-card-title>
      <div>
        {{visit.diagnosis}}
      </div>
    </mat-card>
    <mat-card class="visit-info-item flex-grow-1">
      <mat-card-title>
        Treatment
      </mat-card-title>
      <div>
        {{visit.treatment}}
      </div>
    </mat-card>
  </div>
</mat-expansion-panel>
