<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav disableClose="true" mode="over" class="sidenav" opened="true">
    <mat-nav-list>
      <mat-list-item class="sidenav-item">
        <button mat-icon-button>
          <mat-icon>
            accessibility
          </mat-icon>
        </button>
        <a matLine routerLink="/patients">Patients</a>
      </mat-list-item>
      <mat-list-item class="sidenav-item">
        <button mat-icon-button>
          <mat-icon>
            assignment
          </mat-icon>
        </button>
        <a matLine routerLink="/visit">Add visit</a>
      </mat-list-item>
      <mat-list-item class="sidenav-item">
        <button mat-icon-button>
          <mat-icon>
            event
          </mat-icon>
        </button>
        <a matLine routerLink="/visits">Visits</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
