<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav disableClose="true" mode="over" class="sidenav" opened="true">
    <mat-nav-list>
      <div class="sidenav">
        <a routerLink="/patients">Patients</a>
      </div>
      <br>
      <div class="sidenav">
        <a routerLink="/visit">Add visit</a>
      </div>
      <div class="sidenav">
        <a routerLink="/visits">Visits</a>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
