.hidden-input {
  border: 1px solid rgba(0,0,0,0);
  background: inherit;
  cursor: pointer;
}

.hidden-input:hover {
  background: rgba(52, 148, 160, 0.4);
  color: #4d4d4d;
  transition: .3s;
}

.shown-input {
  border: 1px solid black;
  background: white;
}

.hidden-input, .shown-input {
  margin: 5px;
  padding: 5px;
  font-weight: 500 !important;
}

.patient-input-container {
  padding:10px;
}

.patient-item-container div {
  cursor: pointer;
}

.patient-item-container {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.patient-actions > div {
  margin: 5px;
  padding: 5px;
}

.patient-name {
  font-weight: 350;
  padding-left: 10px;
}

.patient-icon {
  color: #3494a0;
}

.patient-data {
}

::ng-deep snack-bar-container.alert-red{
  color: white;
  background-color: darkred;
}

::ng-deep snack-bar-container.alert-red .mat-simple-snackbar-action {
  color: #b2b2b2;

}
