.visit-list {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep snack-bar-container.alert-red {
  color: white;
  background-color: darkred;
}

::ng-deep snack-bar-container.alert-red .mat-simple-snackbar-action {
  color: #b2b2b2;

}
