<div class="stepper-container">
  <mat-vertical-stepper #stepper style="height: 100%;" linear="true">
    <mat-step [stepControl]="selectFormGroup" style="height: 100%;">
      <form [formGroup]="selectFormGroup">
        <ng-template matStepLabel>Select patient</ng-template>
        <mat-form-field style="width: 100%;">
          <mat-label>Choose patient
          </mat-label>
          <mat-select matInput formControlName="selectCtrl" required>
            <mat-select-trigger class="d-flex align-items-center justify-content-start">
              <mat-icon>account_box</mat-icon>
              {{selectFormGroup.controls.selectCtrl.value?.name}} {{selectFormGroup.controls.selectCtrl.value?.lastName}}
              | PESEL: {{selectFormGroup.controls.selectCtrl.value?.pesel}}
            </mat-select-trigger>
            <mat-option *ngIf="isSelectLoading">
              <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
            </mat-option>
            <mat-option *ngFor="let patient of this.patients" [value]="patient"
                        class="d-flex justify-content-center align-items-start">
              <mat-icon>account_box</mat-icon>
              PESEL: {{patient.pesel}} | {{patient.name}} {{patient.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="caseStudyFormGroup">
      <form [formGroup]="caseStudyFormGroup">
        <ng-template matStepLabel>Case study</ng-template>
        <div class="d-flex flex-md-row flex-column">
          <mat-form-field class="textarea-visit p-1 flex-grow-1">
            <mat-label>Interview examination</mat-label>
            <textarea [maxLength]="textAreaMaxLength" matInput placeholder="Interview" formControlName="interview"
                      required></textarea>
          </mat-form-field>
          <mat-form-field class="textarea-visit p-1 flex-grow-1">
            <mat-label>Physical examination</mat-label>
            <textarea [maxLength]="textAreaMaxLength" matInput placeholder="Physical examination"
                      formControlName="physical" required></textarea>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-between">
          <button class="m-1" mat-button matStepperPrevious>Back</button>
          <button class="m-1" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="diagnosisTreatmentFormGroup">
      <form [formGroup]="diagnosisTreatmentFormGroup">
        <ng-template matStepLabel>Diagnosis and treatment</ng-template>
        <div class="d-flex flex-md-row flex-column">
          <mat-form-field class="textarea-visit p-1 flex-grow-1">
            <mat-label>Diagnosis</mat-label>
            <textarea [maxLength]="textAreaMaxLength" matInput placeholder="Diagnosis" formControlName="diagnosis"
                      required></textarea>
          </mat-form-field>
          <mat-form-field class="textarea-visit p-1 flex-grow-1">
            <mat-label>Treatment</mat-label>
            <textarea [maxLength]="textAreaMaxLength" matInput placeholder="Treatment" formControlName="treatment"
                      required></textarea>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-between">
          <button class="m-1" mat-button matStepperPrevious>Back</button>
          <button class="m-1" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Click Save button to save the visit.</p>
      <div class="d-flex justify-content-between">
        <div>
          <button class="m-1" mat-stroked-button matStepperPrevious>Back</button>
          <button class="m-1" mat-stroked-button (click)="stepper.reset()">Reset</button>
        </div>
        <button class="m-1" mat-raised-button color="primary" (click)="onSave()">Save</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
